name: BUILD

on:
  push:

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [aarch64, aarch64-musl, amd64, amd64-musl]
        include:
          - build: aarch64
            os: ubuntu-latest
            rust: stable
            cross: true
            target: aarch64-unknown-linux-gnu
          - build: aarch64-musl
            os: ubuntu-latest
            rust: stable
            cross: true
            target: aarch64-unknown-linux-musl
          # - build: aarch64-android
          #   os: ubuntu-latest
          #   # rust: 1.67.0
          #   rust: stable
          #   cross: true
          #   target: aarch64-linux-android
          - build: amd64
            os: ubuntu-latest
            rust: stable
            cross: false
            target: x86_64-unknown-linux-gnu
          - build: amd64-musl
            os: ubuntu-latest
            rust: stable
            cross: true
            target: x86_64-unknown-linux-musl
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Install musl-tools on Linux
      run: sudo apt-get update --yes && sudo apt-get install --yes musl-tools
      if: contains(matrix.target, 'musl')
    - name: Build binary
      uses: houseabsolute/actions-rust-cross@v1
      with:
        toolchain: ${{ matrix.rust }}
        command: build
        target: ${{ matrix.target }}
        args: "--release"
        strip: true
    # - uses: actions-rs/toolchain@v1
    #   with:
    #     toolchain: ${{ matrix.rust }}
    #     target: ${{ matrix.target }}
    #     override: true
    # - uses: actions-rs/cargo@v1
    #   with:
    #     use-cross: ${{ matrix.cross }}
    #     command: build
    #     args: --release --target ${{ matrix.target }}
    - run: mv ./target/release/dmlive ./dmlive-${{ matrix.build }} || mv "./target/${{ matrix.target }}/release/dmlive" ./dmlive-${{ matrix.build }}

    - uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        tag: "release"
        artifacts: "./dmlive-${{ matrix.build }}"
        token: ${{ secrets.GITHUB_TOKEN }}
